/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* BG */

	#bg {
		background-size: 2500px auto;
		width: 6500px;
	}

	#header h1 {
		font-size: 3.5em;
	}

	#header h2 {
		font-size: 1.5em;
	}

	#header p {
		font-size: 1em;
	}

	#footer{
		font-size: 1em;
	}
	