/* Basic */

	body, input, select, textarea {
		font-size: 18pt;
	}

/* BG */

	#bg {
		background-size: 4000px auto;
		width: 6500px;
	}
	
	

	#header h1 {
		font-size: 4.5em;
	}

	#header h2 {
		font-size: 2em;
	}

	#header p {
		font-size: 2em;
	}

	#footer{
		font-size: .5em;
	}
	